.collection-item {
  width: 22%;
  height: 350px;
  position: relative;
  margin-bottom: 50px;

  &:hover {
    .image {
      opacity: 0.8;
    }

    .add-to-cart {
      visibility: visible;
    }
  }

  .image {
    height: 95%;
    background-size: cover;
    background-position: center;
  }

  .collection-footer {
    display: flex;
    font-size: 18px;
    padding: 5px;

    .name {
      flex-grow: 1;
    }
  }

  .add-to-cart {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    visibility: hidden;
  }
}
